<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/static/ml.css">

<script src="/static/jquery-3.6.0.min.js"></script>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OverStreet</title>
</head>

<body id='body' class='main-screen'>
  <div id='status' class='status blue'> 
    <div class='title'>OverStreet</div>
    <div id='count' class='count'></div>
  </div>

  <div id='browser' class='browser blue'>
    <div id = 'left' class='left blue'></div>
    <div id='right' class='right blue'></div>
  </div>

  <div id='controls' class='controls'>
    <div class='action' id='skip'>Skip</div>
    <div class='action' id='tag'>Tag</div>
  </div>

</body>

<script src="/static/ml.js"></script>


</html>