<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/static/ml.css">

<script src="/static/jquery-3.6.0.min.js"></script>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OverStreet</title>
</head>

<body class='main-screen'>
  <div id='status' class='status'> 
    <div class='title'>OverStreet</div>
    <div id='count' class='count'></div>
  </div>

  <div id='browser' class='browser'>
    <div class='left'>
        <div id='cover' class='cover'>
          <!-- <img src="/cover/45" alt="Girl in a jacket">  -->
        </div>
        <div id='title' class='title'></div>
    </div>
    <div id='suggestions' class='right'></div>
  </div>

  <div id='controls' class='controls'>
    <div class='action' id='skip'>Skip</div>
    <div class='action' id='next'>Next</div>
  </div>

</body>

<script src="/static/ml.js"></script>


</html>